# Seattle AirBnB Data Analysis

In [25]:
# Import libraries for analysis

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data Gathering

In [105]:
# Read in datasets
calendar = pd.read_csv('calendar.csv')
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')

## Data Assessment

In [108]:
# Look at each dataset to get a feel of the data
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [110]:
calendar.sample(10)

         listing_id        date available    price
259907      8869680  2016-01-31         f      NaN
494870      7249508  2016-10-25         f      NaN
701419      9490093  2016-09-14         f      NaN
761315      6421243  2016-10-20         t   $59.00
93179       6108796  2016-04-17         f      NaN
431482      3876097  2016-02-25         t   $35.00
673747      8119192  2016-11-21         t   $75.00
1083801     6445741  2016-04-29         f      NaN
455197       988176  2016-02-15         t  $125.00
117955      3294804  2016-03-04         t  $119.00

In [112]:
calendar.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

In [113]:
calendar.shape

(1393570, 4)

In [114]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [116]:
listings.sample(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
3601,8296857,https://www.airbnb.com/rooms/8296857,20160104002432,2016-01-04,Cap Hill Modern 3BR Townhome w/view,This 3bedroom/3bathroom townhouse is located i...,This 3bedroom/2.5 bathroom modern townhouse is...,This 3bedroom/3bathroom townhouse is located i...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,1,3.16
320,4130112,https://www.airbnb.com/rooms/4130112,20160104002432,2016-01-04,Warm family home w/ hot tub + honey,"Lovely, garden-wrapped craftsman home, easy ac...",This 100+ year old home is a perfectly located...,"Lovely, garden-wrapped craftsman home, easy ac...",none,"Wallingford is walkable, family-friendly neigh...",...,10.0,f,NaN,WASHINGTON,f,strict,f,f,3,0.13
1855,4395654,https://www.airbnb.com/rooms/4395654,20160104002432,2016-01-04,West Seattle Suite Shagalicious,A Seattle Times Pacific NW Magazine showcase! ...,Live for a time like you're on the set of Madm...,A Seattle Times Pacific NW Magazine showcase! ...,none,The corner bus provides a 10-minute ride to Do...,...,8.0,f,NaN,WASHINGTON,f,strict,t,t,31,0.15
1926,1484651,https://www.airbnb.com/rooms/1484651,20160104002432,2016-01-04,Suite at the Little Red Day Spa,The Little Red Day spa is a very romantic spot...,We are in a Historic Landmark Building in Seat...,The Little Red Day spa is a very romantic spot...,none,We are in the Industrial SODO district just a ...,...,9.0,f,NaN,WASHINGTON,f,flexible,f,f,1,1.86
302,8072920,https://www.airbnb.com/rooms/8072920,20160104002432,2016-01-04,Charming Artistic Studio Apartment,Enjoy a studio with everything you need. Just ...,NaN,Enjoy a studio with everything you need. Just ...,none,"Great neighborhood! Close to Lake Union, Green...",...,10.0,f,NaN,WASHINGTON,t,moderate,f,f,1,0.87

In [117]:
listings.dtypes

id                                    int64
listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
thumbnail_url                        object
medium_url                           object
picture_url                          object
xl_picture_url                       object
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                 object
host_is_superhost                    object
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
host_listings_count                 float64
                                     ...
guests_included                       int64
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                     object
availability_30                       int64
availability_60                       int64
availability_90                       int64
availability_365                      int64
calendar_last_scraped                object
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                             float64
jurisdiction_names                   object
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 92, dtype: object

In [118]:
listings.shape

(3818, 92)

In [119]:
# Verify the same number of listing ids
calendar.shape[0]/365

3818.0

In [120]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [121]:
reviews.sample(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
6202,5052459,45293456,2015-09-01,24120266,Sandy,Tracy greeted us personally and helped us find...
21132,7471629,50647137,2015-10-13,36643538,Troy,Bob was a great host. The apartment had everyt...
77797,3766055,26771146,2015-02-18,10995184,Carolynn,Claire is an amazing host. Easy quick communic...
38536,5058086,33959292,2015-06-02,32779709,Gagan,Hollis place was awesome! It was a great exper...
50029,258571,1081408,2012-04-04,1603739,Phil,I'd recommend anyone looking to enhance their ...
5341,2154617,15158704,2014-07-03,5538655,Justin,"Great host, very accommodating."
70156,449602,4319863,2013-04-27,654365,Rochelle,We had such a great time staying at Steve's pl...
79440,2211594,34549130,2015-06-09,7401262,Cristian,david and amelia were inedible hosts...we felt...
58903,2620429,34935966,2015-06-14,28044413,Sherry,A FABULOUS first ABNB experience. Location was...
13203,215882,15819610,2014-07-16,414768,Lin,Julie's place will stay on my list of great ex...

In [122]:
reviews.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [123]:
reviews.shape

(84849, 6)

## Business Understanding

what are the questions you are interested in tackling.
1. What is the monthly average price for the city?
2. What is the monthly occupancy ratio for the city?
3. What is the monthly average price per neighbourhood?
4. What is the monthly occupancy ratio per neighbourhood? 
5. What is the average price Monday to Sunday?

What are we asking - is the price set correctly to maximize return?

## Data Wrangling

In [128]:
# Missing values in any rows or columns
print(calendar.isnull().any())
print()
print(listings.isnull().any())
print()
print(reviews.isnull().any())

listing_id    False
date          False
available     False
price          True
dtype: bool

id                                  False
listing_url                         False
scrape_id                           False
last_scraped                        False
name                                False
summary                              True
space                                True
description                         False
experiences_offered                 False
neighborhood_overview                True
notes                                True
transit                              True
thumbnail_url                        True
medium_url                           True
picture_url                         False
xl_picture_url                       True
host_id                             False
host_url                            False
host_name                            True
host_since                           True
host_location                        True
host_about                           True
host_response_time                   True
host_response_rate                   True
host_acceptance_rate                 True
host_is_superhost                    True
host_thumbnail_url                   True
host_picture_url                     True
host_neighbourhood                   True
host_listings_count                  True
                                    ...
guests_included                     False
extra_people                        False
minimum_nights                      False
maximum_nights                      False
calendar_updated                    False
has_availability                    False
availability_30                     False
availability_60                     False
availability_90                     False
availability_365                    False
calendar_last_scraped               False
number_of_reviews                   False
first_review                         True
last_review                          True
review_scores_rating                 True
review_scores_accuracy               True
review_scores_cleanliness            True
review_scores_checkin                True
review_scores_communication          True
review_scores_location               True
review_scores_value                  True
requires_license                    False
license                              True
jurisdiction_names                  False
instant_bookable                    False
cancellation_policy                 False
require_guest_profile_picture       False
require_guest_phone_verification    False
calculated_host_listings_count      False
reviews_per_month                    True
Length: 92, dtype: bool

listing_id       False
id               False
date             False
reviewer_id      False
reviewer_name    False
comments          True
dtype: bool

In [ ]:
# Check datatypes and convert

## Exploratory Data Analysis

In [ ]:
# Build exploratory plots ie bar charts, histograms, scatterplots

In [ ]:
calendar.query

In [76]:
# Convert column 'available' to a true boolean
calendar['available'] = calendar['available'] == 't'

In [83]:
calendar['available'].mean()

0.6706100160020666

In [84]:
calendar['price'].sum()

128915264.0

In [85]:
calendar['price'].describe()

count    1.393570e+06
mean     9.250720e+01
std      1.077295e+02
min      0.000000e+00
25%      0.000000e+00
50%      7.500000e+01
75%      1.300000e+02
max      1.650000e+03
Name: price, dtype: float64

In [62]:
calendar.shape[0]/365

3818.0

In [91]:
avg_annual_revenue = round(calendar['price'].sum()/ (calendar.shape[0]/365),0)
avg_annual_revenue

33765.0

In [31]:
calendar['price'] = calendar['price'].str.replace(',', '')
calendar['price'] = calendar['price'].str.replace('$', '')
calendar['price'] = calendar['price'].astype(float)
calendar.head()

   listing_id        date available  price
0      241032  2016-01-04         t   85.0
1      241032  2016-01-05         t   85.0
2      241032  2016-01-06         f    NaN
3      241032  2016-01-07         f    NaN
4      241032  2016-01-08         f    NaN

In [33]:
calendar['price'].fillna(0, inplace=True)
calendar.head()

   listing_id        date available  price
0      241032  2016-01-04         t   85.0
1      241032  2016-01-05         t   85.0
2      241032  2016-01-06         f    0.0
3      241032  2016-01-07         f    0.0
4      241032  2016-01-08         f    0.0

In [43]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [55]:
cal = calendar.groupby(calendar['date'].dt.strftime('%B'))['listing_id'].sum()

In [61]:
calendar['price'][calendar['listing_id'] == 241032].value_counts()

85.0    346
0.0      19
Name: price, dtype: int64

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [68]:
listings['cleaning_fee'][listings['id']==241032]

0    NaN
Name: cleaning_fee, dtype: object

In [70]:
listings['review_scores_value'][reviews['id']==241032].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: review_scores_value, dtype: float64

In [39]:
column_list = listings.columns.values
column_list

array(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode',
       'market', 'smart_location', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype=object)

In [97]:
listings['neighbourhood_group_cleansed'].value_counts()

Other neighborhoods    794
Capitol Hill           567
Downtown               530
Central Area           369
Queen Anne             295
Ballard                230
West Seattle           203
Rainier Valley         159
University District    122
Beacon Hill            118
Cascade                 89
Northgate               80
Delridge                79
Lake City               67
Magnolia                61
Seward Park             44
Interbay                11
Name: neighbourhood_group_cleansed, dtype: int64

In [104]:
listings.groupby('neighbourhood_group_cleansed')['review_scores_rating'].mean().sort_values(ascending=False)

neighbourhood_group_cleansed
Central Area           96.009404
West Seattle           95.864198
Delridge               95.861538
Ballard                95.533679
Queen Anne             95.443089
Seward Park            95.025641
Rainier Valley         94.731343
Northgate              94.692308
Other neighborhoods    94.562500
Lake City              94.375000
Capitol Hill           94.184783
Beacon Hill            94.019417
Downtown               93.958333
Magnolia               93.787234
Interbay               93.777778
Cascade                92.461538
University District    88.437500
Name: review_scores_rating, dtype: float64

In [101]:
listings.groupby('neighbourhood_group_cleansed')['review_scores_rating'].mean().sort_values(ascending=False)

neighbourhood_group_cleansed
Central Area           96.009404
West Seattle           95.864198
Delridge               95.861538
Ballard                95.533679
Queen Anne             95.443089
Seward Park            95.025641
Rainier Valley         94.731343
Northgate              94.692308
Other neighborhoods    94.562500
Lake City              94.375000
Capitol Hill           94.184783
Beacon Hill            94.019417
Downtown               93.958333
Magnolia               93.787234
Interbay               93.777778
Cascade                92.461538
University District    88.437500
Name: review_scores_rating, dtype: float64

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

## Data Modeling

## Explanatory Visualizations